.container {
  width: 100dvw;
  height: 100dvh;
  background: center url('../../assets/home.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--background-color1);
  text-align: center;
  background: radial-gradient(closest-side, #ddd2, transparent);
  backdrop-filter: blur(1px);
}

.link {
  animation: translate 1s alternate-reverse infinite;
  color: var(--background-color1);
}

.link:hover svg {
  transform: scale(1.5);
  color: var(--primary-color);
}

.link:hover {
  animation: none;
}

@keyframes translate {
  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(10px);
  }

}