form {
    background-color: var(--secondary-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    min-height: 300px;
    place-items: center;
    padding: 1rem;
}