main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-width: 200px;
    margin-top: 2rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}


h3 {
    place-self: center;
}

.loader {
    animation: load 1s infinite linear;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }

}