main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-width: 200px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}


h3 {
    place-self: center;
}