.navbar {
    display: flex;
    width: 100dvw;
    justify-content: space-around;
    align-items: end;
    gap: 2rem;
    position: fixed;
    top: 0;
    background: linear-gradient(var(--background-color1), transparent);
    padding: 1rem;
    z-index: 1;
}